<form method="POST" action="/api/sessions/register">
    <label for="first_name">First name</label>
    <input type="text" name="first_name">

    <label for="last_name">Last name</label>
    <input type="text" name="last_name">

    <label for="email">Email</label>
    <input type="email" name="email">

    <label for="age">Age</label>
    <input type="number" name="age">

    <label for="password">Password</label>
    <input type="password" name="password">

    <button type="submit">Register</button>
</form>