<div>
    <form action="" method="post">
        <input type="text">
        // id para capturar el contenido del input
        <button type="submit">Enviar</button>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>